.ml-auto, .ms-auto, .me-auto{
margin-left: auto;
}
body{
  font-family: Montserrat;

}

#title {
  background-color: #ff4c69;
  color: white;
}
h1{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}
.container-fluid{
  padding: 3% 15%;
}

/* navigation bar */
.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
  font-family:"Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 10px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
}



/* download buttons */

.download-button{
  margin: 5% 3% 5% 0;
}


/* title image */
.title-image{
  width:60%;
  transform: rotate(25deg);

}


/* features */

#features{
  text-align: center;
  padding: 10% 20% 15%;
}
.features-icon{
  font-size: 50px;
  color: #ef8172;
}
h3{
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5;
}
p{
  color: #8f8f8f;
  line-height: 1.5rem;
}
.feature-tag{
  margin: 16px 0 16px;
}
